<script lang="ts">
	import '$lib';
	import '../app.css';
	import { _ } from 'svelte-i18n';
	const MIN_DICE_COUNT = 1;
	const MAX_DICE_COUNT = 10;

	let diceCount = 1;
	let dices: number[] = [];
	let selectedDices: number[] = [];

	function incrementDiceCount() {
		if (diceCount >= MAX_DICE_COUNT) return;
		diceCount++;
		announceDiceCount();
		resetDices();
	}

	function decrementDiceCount() {
		if (diceCount <= MIN_DICE_COUNT) return;
		diceCount--;
		announceDiceCount();
		resetDices();
	}

	function rollAllDices() {
		resetDices();
		selectedDices = [];
		for (let i = 0; i < diceCount; i++) {
			const value = roll();
			dices.push(value);
			dices = dices.sort();
		}
		readDicesValue();
	}

	function toggleDiceSelection(index: number) {
		if (selectedDices.includes(index)) {
			selectedDices = selectedDices.filter((diceIndex) => diceIndex !== index);
		} else {
			announceDiceValue(dices[index].toString());
			selectedDices = [...selectedDices, index];
		}
	}

	function rollSelectedDices() {
		if (selectedDices.length === 0) return;
		selectedDices.forEach((diceIndex) => {
			const value = roll();
			dices[diceIndex] = value;
		});
		selectedDices = [];
		dices = dices.sort();
	}

	function roll(): number {
		return Math.floor(Math.random() * 6) + 1;
	}

	function resetDices() {
		dices = [];
	}

	function announceDiceCount() {
		const msg = new SpeechSynthesisUtterance();
		const localeMessage = diceCount > 1 ? 'messages.multiple-dices' : 'messages.one-dice';

		msg.text = `${$_(localeMessage, { values: { count: diceCount } })}})}`;
		msg.pitch = 1;
		msg.rate = 1.5;
		window.speechSynthesis.speak(msg);
	}

	function announceDiceValue(value: string) {
		const msg = new SpeechSynthesisUtterance();
		msg.text = value;
		window.speechSynthesis.speak(msg);
	}

	function readDicesValue() {
		// check speechSynthesis support
		// add fallback
		// debounce if already speaking
		const msg = new SpeechSynthesisUtterance();
		if (dices.length === 0) {
			msg.text = $_('messages.no-dice');
		} else {
			msg.text = dices.join(', ');
			msg.pitch = 1;
			msg.rate = 1.5;
		}
		window.speechSynthesis.speak(msg);
	}
</script>

<main class="h-screen w-screen grid grid-cols-3 grid-rows-3 font-sans">
	<button
		class="h-100 w-100 bg-black"
		on:click={decrementDiceCount}
		aria-label={$_('buttons.minus')}
	>
		<img src={'minus.svg'} class="mx-auto" alt={$_('icons.minus')} />
	</button>

	<div
		id="counter"
		role="contentinfo"
		aria-live="polite"
		aria-label={$_('labels.count')}
		class="h-100 w-100 flex flex-col justify-center items-center text-8xl font-bold break-words text-center"
	>
		{diceCount}
	</div>

	<button
		class="h-100 w-100 bg-black"
		on:click={incrementDiceCount}
		aria-label={$_('buttons.plus')}
	>
		<img src={'plus.svg'} class="mx-auto" alt={$_('icons.plus')} />
	</button>

	<div class="col-start-1 col-end-4 gap-2 h-100 w-100 flex justify-center items-center flex-wrap">
		{#each dices as dice, index (index)}
			<button
				class="h-[60px] w-[60px] md:h-[100px] md:w-[100px] flex justify-center items-center mx-1 rounded-md bg-black text-white text-5xl font-extrabold outline-sky-500 outline-4"
				class:outline={selectedDices.includes(index)}
				on:click={() => toggleDiceSelection(index)}
				aria-label={$_('buttons.dice-value', { values: { value: dice } })}
			>
				{dice}
			</button>
		{/each}
	</div>

	<button
		class="h-full w-full bg-black flex justify-center items-center"
		on:click={readDicesValue}
		aria-label={$_('buttons.announce')}
	>
		<img src={'sound.svg'} class="mx-auto" alt={$_('icons.speaker')} />
	</button>

	<button class="text-4xl font-bold" on:click={rollAllDices} aria-label={$_('buttons.roll-all')}>
		<img src={'roll2.svg'} class="mx-auto" alt={$_('icons.arrow-refresh')} />
	</button>

	<button
		class="text-4xl font-bold bg-black"
		on:click={rollSelectedDices}
		aria-label={$_('buttons.roll-selected')}
	>
		<img src={'dice.svg'} class="mx-auto" alt={$_('icons.dice')} />
	</button>
</main>
